In [144]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Part 1

Read in the movie_reviews.csv file
 - Print the number of rows in the data set

In [145]:
df = pd.read_csv('movie_reviews.csv')
df.head(2)

,movie_title,movie_info,rating,genre,directors,in_theaters_date,on_streaming_date,runtime_in_minutes,critic_rating,critic_count,audience_rating,audience_count
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,2/12/10,6/29/10,83.0,49,144,53.0,254287.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,R,Comedy,Nicole Holofcener,4/30/10,10/19/10,90.0,86,140,64.0,11567.0

In [146]:
print(f"Number of Rows: {df.shape[0]}")

Number of Rows: 16638

## Part 2
Filter the data to only contain “popular” movies that were released in
theatres before 2010 (popular = movies with more audience reviews than
the average number of audience reviews of all movies before 2010)
- Print the number of rows in the output

In [147]:
#df[df.in_theaters_date == '4/13/18']

In [148]:
#19, 20, 21, 22, 23 --> 1900 + x

In [150]:
year_list = []
for d in df['in_theaters_date']:
    try:
        x = int(d.split('/')[-1])
        if x < 19:
            year_list.append(2000+x)
        else:
            year_list.append(1900+x)
    except:
        pass

In [152]:
y = pd.DataFrame({'year_num' : year_list})
y.head()

   year_num
0      2010
1      2010
2      1979
3      1957
4      1954

In [154]:
sum(y.year_num < 2010)

10135

In [155]:
def adjust_year(date):
    try:
        year = int(date.split('/')[-1])
        if year < 19:
            return 2000+year
        return 1900+year
    except:
        return date

In [156]:
# df['in_theaters_date'] = df['in_theaters_date'].apply(lambda x : adjust_year(x))
# df.in_theaters_date.head()

In [157]:
df['in_theater_year'] = df['in_theaters_date'].apply(lambda x : adjust_year(x))
df_before_2k10 = df[df.in_theater_year < 2010]
print(df_before_2k10.shape[0])

mean_audience_count = df_before_2k10.audience_count.mean()
df_pop_2k10 = df_before_2k10[df_before_2k10.audience_count > mean_audience_count]

print(f"Number of Rows : {df_pop_2k10.shape[0]}")

10135
Number of Rows : 1030

In [158]:
mean_audience_count

236882.80483919146

## Part 3

Using the filtered data, display the percent of movies that fall under each
type of rating (R, PG-13, etc.)
- Share an insight from the summary table

In [159]:
rating_counts = df_pop_2k10.rating.value_counts().reset_index()
rating_counts.rename(columns={'count' : 'rating_count'}, inplace=True)
total_movie_count = rating_counts['rating_count'].sum()

rating_counts['rating_perc'] = round(rating_counts['rating_count'] / total_movie_count * 100,2)
rating_counts

  rating  rating_count  rating_perc
0  PG-13           426        41.36
1      R           336        32.62
2     PG           200        19.42
3      G            66         6.41
4     NR             2         0.19

## Part 4

Engineer a new feature from any of the existing columns
- Create a summary table using the new feature
- Share an insight from the summary table

#### Feature 1

**Runtime Categories:** 

Movies are categorized into 
- 'Short' (less than 90 minutes)
- 'Medium' (90 to 120 minutes)
- 'Long' (more than 120 minutes). 

This categorization can help analyze trends across different movie durations.